<nav class="navbar">
    <div class="liens">
        <a class="navbar-brand" href="/">Home</a>
    </div>
    <div class="liens">
        <a class="navbar-brand" href="/location/show">Location (SANDT Timothé)</a>
        <div class="hidden">
            <a class="navbar-brand" href="/location/add">Add</a>
            <a class="navbar-brand" href="/location/etat">État</a>
        </div>
    </div>
    <div class="liens">
        <a class="navbar-brand" href="/velo/show">Vélo (TALALI Zakaria)</a>
        <div class="hidden">
            <a class="navbar-brand" href="/velo/add">Add</a>
            <a class="navbar-brand" href="/velo/etat">État</a>
        </div>
    </div>
    <div class="liens">
        <a class="navbar-brand" href="/reparation/show">Réparation (MIGUET Maxime)</a>
        <div class="hidden">
            <a class="navbar-brand" href="/reparation/add">Add</a>
            <a class="navbar-brand" href="/reparation/etat">État</a>
        </div>
    </div>
    <div class="liens">
        <a class="navbar-brand" href="/compte/add">compte</a>
    </div>
</nav>