a {
    color: #2b6891;
    text-decoration: none;
}

a:hover {
    color: #2b6891;
}

nav {
    margin: 0;
    padding: 10px;

    margin-bottom: 75px;
}

nav a {
    text-decoration: none;
}

nav a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #2b6891;
    transition: width 0.3s ease-in;
}

nav a:hover::after {
    width: 100%;
}


.liens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    position: absolute;
    top: 50px;
    display: none;
    transition: 0.5s ease-out;
    border-radius: 5px;
    width: 200px;
}

.hidden a {
    width: max-content;
}

.liens:hover .hidden, 
.hidden:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
}