{% extends "layout.html" %}

{% block title %}Ajouter un Vélo{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block body %}
<div class="form-container">
    <h1>Ajouter un Vélo</h1>

    <form action="/velo/add" method="POST" class="edit-add-form">
        <div class="form-group">
            <label for="libelle_velo">Libellé :</label>
            <input type="text" name="libelle_velo" id="libelle_velo" maxlength="50" required>
        </div>

        <div class="form-group">
            <label for="prix">Prix :</label>
            <input type="number" name="prix" id="prix" placeholder="Prix" required>
        </div>

        <div class="form-group">
            <label for="date_achat">Date d'achat :</label>
            <input type="date" name="date_achat" id="date_achat" required>
        </div>

        <div class="form-group">
            <label for="code_categorie_velo">Catégorie :</label>
            <select name="code_categorie_velo" id="code_categorie_velo" required>
                <option value="" selected disabled hidden>Choisissez une catégorie</option>
                {% for categorie in categories %}
                    <option value="{{ categorie.code_categorie_velo }}">{{ categorie.libelle_categorie_velo }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="code_etat">État :</label>
            <select name="code_etat" id="code_etat" required>
                <option value="" selected disabled hidden>Choisissez un état</option>
                {% for etat in etats %}
                    <option value="{{ etat.code_etat }}">{{ etat.libelle_etat }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Ajouter Vélo</button>
            <a href="/velo/show" class="btn btn-secondary">Retour</a>
        </div>
    </form>
</div>
{% endblock %}
