{% extends "layout.html" %}

{% block title %}
État des Vélos
{% endblock %}

{% block body %}
    <form action="/velo/etat/" method="POST">
        <label for="selection_velo">Vélo :</label>
        <select name="selection_velo" id="selection_velo" required>
            <option value="" disabled selected hidden>Veuillez sélectionner un vélo</option>
            {% for velo in selection_velos %}
                <option value="{{ velo.code_velo }}">{{ velo.libelle_velo }}</option>
            {% endfor %}
        </select>
        <button type="submit">Voir l'état</button>
    </form>

    {% if velo and locations %}
        <div>
            <h1>État pour {{ velo.libelle_velo }} </h1>

            <h3>Individus associés</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Nombre de locations</th>
                        <th>Montant</th>
                    </tr>
                </thead>
                <tbody>
                {% for individu in individus %}
                    <tr>
                        <td>{{ individu.id }}</td>
                        <td>{{ individu.nom_prenom }}</td>
                        <td>{{ individu.nb }}</td>
                        <td>{{ individu.montant }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h3>Historique des Locations</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Prix</th>
                        <th>Date début</th>
                        <th>Date fin</th>
                        <th>Locataire</th>
                        <th>Bailleur</th>
                    </tr>
                </thead>
                <tbody>
                {% for ligne in locations %}
                    <tr>
                        <td>{{ ligne.id }}</td>
                        <td>{{ ligne.prix }}</td>
                        <td>{{ ligne.date_debut }}</td>
                        <td>{{ ligne.date_fin }}</td>
                        <td>{{ ligne.locataire }}</td>
                        <td>{{ ligne.bailleur }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if stat_velo %}
                <p>{{ stat_velo.nb }} locations sur un total de {{ stat_velo.duree_total }} jours pour un total de {{ stat_velo.montant_total }} €</p>
            {% endif %}
        </div>
    {% elif velo %}
        <p>Aucune location pour {{ velo.libelle_velo }}</p>
    {% endif %}
{% endblock %}
