{% macro show_statistics(stat) %}
    <p>
        {{ stat.nb }} locations sur un total de {{ stat.duree_total }} jours pour un total de {{ stat.montant_total }} €
    </p>
{% endmacro %}

{% macro show_individus_concerne(individus) %}
    {% for individu in individus %}
        <div class="card card-flex">
            <div class="titre">
                <h4>{{ individu.nom_prenom }}</h4>
                <p class="id">id:{{ individu.id }}</p>
            </div>
            <div class="info">
                <p>{{ individu.nb }} locations</p>
                <p>{{ individu.montant }} €</p>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% extends "layout.html" %}

{% block title %}Location{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/etat.css') }}">
{% endblock %}

{% block body %}
    <h1>État des Locations</h1>

    <form action="/location/etat/" method="POST" class="form-group">
        <label for="selection_individus">Individu :</label>
        <select name="selection_individus" id="selection_individus" required>
            <option value="" disabled selected hidden>Veuillez sélectionner un individu</option>
            {% for individu in selection_individus %}
                <option value="{{ individu.id }}">{{ individu.nom_prenom }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn">Voir l'état</button>
    </form>

    {% if individu and locations %}
        <div class="etat">
            <h2>État pour {{ individu.nom_prenom }}</h2>

            <div id="statistics">
                {% if stat_locataire != None %}
                    <h3>Statistiques Locataire</h3>
                    {{ show_statistics(stat_locataire) }}
                {% endif %}

                {% if stat_bailleur != None %}
                    <h3>Statistiques Bailleur</h3>
                    {{ show_statistics(stat_bailleur) }}
                {% endif %}
            </div>

            <h3>Liste des vélos concernés par {{ individu.nom_prenom }}</h3>
            <div class="card-container">
                {% for velo in velos %}
                    <div class="card">
                        <div class="titre">
                            <h4>{{ velo.libelle_velo }}</h4>
                            <p class="id">id:{{ velo.code_velo }}</p>
                        </div>
                        <p>Le vélo a été loué <strong>{{ velo.nb }} fois</strong> durant <strong>{{ velo.duree }} jours</strong></p>
                        <p>Il a rapporté <strong>{{ velo.montant }} €</strong> à l'association VéloCampus</p>
                    </div>
                {% endfor %}
            </div>

            <div class="two-column-layout">
                <div id="location">
                    <h3>Locations Effectuées</h3>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Prix</th>
                                    <th>début</th>
                                    <th>fin</th>
                                    <th>Vélo</th>
                                    <th>Locataire</th>       
                                    <th>Bailleur</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ligne in locations %}
                                <tr>
                                    <td>{{ ligne.id }}</td>
                                    <td>{{ ligne.prix }}</td>
                                    <td>{{ ligne.date_debut }}</td>
                                    <td>{{ ligne.date_fin }}</td>
                                    <td>{{ ligne.velo }}</td>
                                    <td>{{ ligne.locataire }}</td>
                                    <td>{{ ligne.bailleur }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="individu">
                    {% if bailleurs %}
                        <h3>Bailleur</h3>
                        {{ show_individus_concerne(bailleurs) }}
                    {% endif %}
                    
                    {% if locataires %}
                        <h3>Locataire</h3>
                        {{ show_individus_concerne(locataires) }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% elif individu %}
        <p>Aucune Location pour {{ individu.nom_prenom }}</p>
    {% endif %}
{% endblock %}

