{% extends "layout.html" %}

{% block title %}
Location
{% endblock %}


{% block body %}

<form action="/location/etat" method="POST">
    <label for="bailleur">bailleur :</label>
    <select name="bailleur" id="bailleur" required>
        <option value="" disabled selected hidden>Veuillez sélectionner un bailleur</option>
        <option value="best">Meilleurs bailleur</option>
        <option value="pire">Pire bailleur</option>
        {% for bailleur in bailleurs %}
            <option value="{{ bailleur.id }}">{{ bailleur.nom_prenom }}</option>
        {% endfor %}
    </select>
    <button type="submit">Voir l'état</button>
</form>

<div>
    velo concerné
    location effectuer
    prix total
    personne concerné

</div>

{% endblock %}