{% extends "layout.html" %}

{% block title %}
Réparation
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}


{% block body %}
    <div class="form-container">
        <h3>Ajouter une réparation</h3>

        <form action="/reparation/add" method="POST" class="edit-add-form">

            <div class="form-group">
                <label for="prix">Prix : </label>
                <input type="number" name="prix" id="prix" value={{ reparation.prix }} step="0.01" required>
            </div>

            <div class="form-group">
                <label for="date">Date début reparation : </label>
                <input type="date" name="date" id="date" value={{ reparation.date }} required>
            </div>

            <div class="form-group">
                <label for="duree">Durée : </label>
                <input type="number" name="duree" id="duree" value={{ reparation.duree }} required>
            </div>

            <div class="form-group">
                <label for="type_reparation">Type de réparation : </label>
                <select name="type_reparation" id="type_reparation" required>
                    <option value="" selected disabled hidden>Choisissez un type de réparation</option>
                    {% for type_reparation in types_reparation %}
                        <option value="{{ type_reparation.code_type_reparation }}">
                            {{ type_reparation.libelle_type_reparation }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="description">Description : </label>
                <input type="text" name="description" id="description" placeholder="Description" {% if reparation.description != None %} value="{{ reparation.description }}" {% endif %}>
            </div>

            <div class="form-group">
                <label for="individu">individu concerné : </label>
                <select name="individu" id="individu" required>
                    <option value="" selected disabled hidden>Choisissez un individu</option>

                    {% for individu in individus %}
                        <option value="{{ individu.id }}"
                            {% if reparation.individu == individu.id %} selected {% endif %}>
                            {{ individu.nom_prenom }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="velo">Velo : </label>
                <select name="velo" id="velo" required>
                    <option value="" selected disabled hidden>Choisissez un velo</option>
                    {% for velo in velos %}
                        <option value="{{ velo.code_velo }}">
                            {{ velo.libelle_velo }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Ajouter réparation</button>
                <a href="/reparation/show" class="btn btn-secondary">Retour</a>
            </div>
        </form>
    </div>
{% endblock %}
