{% extends "layout.html" %}

{% block title %}
    Réparation
{% endblock %}


{% block body %}

    <form action="/reparation/etat/" method="POST">
        <label for="selection_individus">Individu :</label>
        <select name="selection_individus" id="selection_individus" required>
            <option value="" disabled selected hidden>Veuillez sélectionner un individu</option>
            {% for individu in selection_individus %}
                <option value="{{ individu.id }}">{{ individu.nom_prenom }}</option>
            {% endfor %}
        </select>
        <button type="submit">Voir l'état</button>
    </form>


    {% if individu and reparations %}
        <div>
            <h1>Etat pour {{ individu.nom_prenom }} </h1>

            <h3>Vélo</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Code</th>
                        <th>Libellé</th>
                        <th>Nombre de réparation</th>
                        <th>Durée total</th>
                        <th>Montant</th>
                    </tr>
                </thead>
                <tbody>
                {% for velo in velos %}
                    <tr>
                        <td>{{ velo.code_velo }}</td>
                        <td>{{ velo.libelle_velo }}</td>
                        <td>{{ velo.nb }}</td>
                        <td>{{ velo.duree }}</td>
                        <td>{{ velo.montant }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            
            <h3>Individu</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>id</th>
                        <th>Nom</th>
                        <th>Nombre de réparation</th>
                        <th>Montant</th>
                    </tr>
                </thead>
                <tbody>
                {% for individu in individus %}
                    <tr>
                        <td>{{ individu.id }}</td>
                        <td>{{ individu.nom_prenom }}</td>
                        <td>{{ individu.nb }}</td>
                        <td>{{ individu.montant }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            <h3>Réparation effectuée</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>id</th>
                        <th>date début</th>
                        <th>durée</th>
                        <th>prix</th>
                        <th>facture</th>
                        <th>velo</th>
                        <th>individu</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ligne in reparations %}
                    <tr>
                            <td>{{ ligne.code_reparation }}</td>
                            <td>{{ ligne.date_debut }}</td>
                            <td>{{ ligne.duree }}</td>
                            <td>{{ ligne.prix }}</td>
                            <td>{{ ligne.id_facture }}</td>
                            <td>{{ ligne.velo }}</td>
                            <td>{{ ligne.individu }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% if stat_reparation %}
                <p> {{ stat_reparation.nb }} réparation sur un total de {{ stat_reparation.duree_total }} jours pour un total de {{ stat_reparation.montant_total }} €</p>
            {% endif %}


        </div>
    {% elif individu %}
        <p>Ancune réparation pour {{ individu.nom_prenom }}
    {% endif %}
{% endblock %}